<div class='mt2'>
  <% members.forEach(function(member) { %>
    <div class="clearfix">
      <div class="py1 contain">
        <% if (levelIndex >= 2) { %>
          <h4 class='mt0 levelIndex<%= levelIndex %>' id='<%- slug(member.name) %>'>
            <%- member.name %>
            <% if (member.context && member.context.github) { %>
              <a class="model-link-icon" href='<%= member.context.github.url %>' title="Source code">
                <i class="fa-solid fa-link"></i>
              </a>
            <% } %>
          </h4>
          <span class="code sig"><%= shortSignature(member) %></span>
        <% } else { %>
          <span class="code strong strong levelIndex<%= levelIndex %>">
            <%= shortSignature(member) %>
          </span>
        <% } %>
      </div>
      <div class="clearfix">
        <%= renderSection({ section: member, renderSection: renderSection,
        renderParamProperty: renderParamProperty, nested: true, levelIndex, }) %>
      </div>
    </div>
  <% }) %>
</div>
