<section class='<% if (isTopLevel(section)) { %>py2 clearfix<% } else { %>p2 mb2 clearfix model-section<% } %>'>

  <% if (typeof nested === 'undefined' && section.context && section.context.github) { %>
  <div class='clearfix mb1'>
      <a class="model-link-icon fr" href='<%= section.context.github.url %>' title="Source code">
        <i class="fa-solid fa-link"></i> Source code
      </a>
  </div>
  <% } %>

  <%= md(section.description) %>
  <% if (isFunction(section)) { %><div class='hljs pre p1 mt0 sig'><%= signature(section) %></div><% } %>
  <% if (section.type) { %>
    <p>
      Type:
      <%= formatType(section.type) %>
    </p>
  <% } %>
  <% if (section.augments && section.augments.length) { %>
    <p>
      Extends
      <% if (section.augments) { %>
        <%= section.augments.map(function(tag) {
	  return autolink(tag.name);
	}).join(', ') %>
      <% } %>
    </p>
  <% } %>

  <% if (section.deprecated) { %><div>Deprecated: <%= md(section.deprecated, true) %></div><% }%>
  <% if (section.version) { %><div>Version: <%- section.version %></div><% }%>
  <% if (section.license) { %><div>License: <%- section.license %></div><% }%>
  <% if (section.author) { %><div>Author: <%- section.author %></div><% }%>
  <% if (section.copyright) { %><div>Copyright: <%= md(section.copyright, true) %></div><% }%>
  <% if (section.since) { %><div>Since: <%- section.since %></div><% }%>

  <% if (section.params && section.params.length) { %>
    <div class='py1 quiet mt1 prose-big' id='<%= slug(section.name) %>-parameters'>Parameters</div>
    <div class='prose'>
      <ul class="param-list">
        <% section.params.forEach(function(param) { %>
          <li>
            <span class='code bold'><%- param.name%></span> <code class='quiet'>(<%= formatType(param.type) %><% if (param.default) { %>
            = <code><%- param.default %></code><% } %>)</code>
            <%= md(param.description, true) %>
            <% if (param.properties && param.properties.length) { %>
            <table class='mt1 mb2 fixed-table h5 col-12'>
              <colgroup>
                <col width='30%' />
                <col width='70%' />
              </colgroup>
              <thead>
                <tr class='bold fill-light'>
                  <th>Name</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody class='mt1'>
                <% param.properties.forEach(function(property) { %>
                  <%= renderParamProperty({
                    property: property,
                    renderParamProperty: renderParamProperty
                  }) %>
                <% }) %>
              </tbody>
            </table>
            <% } %>
          </li>
        <% }) %>
      </ul>
    </div>
  <% } %>

  <% if (section.returns && section.returns.length) { %>
    <% section.returns.forEach(function(ret) { %>
      <div class='py1 quiet mt1 prose-big' id='<%= slug(section.name) %>-returns'>Returns</div>
      <code><%= formatType(ret.type) %></code>
      <% if (ret.description) { %>
        :
        <%= md(ret.description, true) %>
      <% } %>
    <% }) %>
  <% } %>

  <% if (section.throws && section.throws.length) { %>
    <table class='mt1 mb2 fixed-table h5 col-12'>
      <colgroup>
        <col width='30%' />
        <col width='70%' />
      </colgroup>
      <thead>
        <tr class='bold fill-light'>
          <th>Exception</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody class='mt1'>
        <% section.throws.forEach(function(exception) { %>
          <tr>
            <td class='break-word'><%= formatType(exception.type) %></td>
            <td class='break-word'><%= md(exception.description, true) %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } %>

  <% if (section.examples && section.examples.length) { %>
    <div class='py1 quiet mt1 prose-big' id='<%= slug(section.name) %>-example'>Example</div>
    <% section.examples.forEach(function(example) { %>
      <% if (example.caption) { %>
        <p><%= md(example.caption) %></p>
      <% } %>
      <pre class='hljs p1 overflow-auto round'><%= highlight(example.description) %></pre>
    <% }) %>
  <% } %>

  <% if (section.members && (section.members.static.length || section.members.instance.length || section.members.events.length)) { %>
    <%= renderSectionList({
      members: section.members.static,
      levelIndex: levelIndex + 1,
      renderSection: renderSection,
      renderParamProperty: renderParamProperty
    }) %>
    <%= renderSectionList({
      members: section.members.instance,
      levelIndex: levelIndex + 1,
      renderSection: renderSection,
      renderParamProperty: renderParamProperty
    }) %>
    <%= renderSectionList({
      members: section.members.events,
      levelIndex: levelIndex + 1,
      renderSection: renderSection,
      renderParamProperty: renderParamProperty
    }) %>
  <% } %>

</section>
